name: sync_latest_openlist

on:
  # 支持手动触发
  workflow_dispatch:
  # 每小时执行一次（整点 UTC Time）
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: check_openlist_has_new_version
        run: |
          export CURRENT_OPENLIST_VERSION=$(curl -k -sL https://api.github.com/repos/LeoHaoVIP/AListLiteAndroid/releases/latest | grep '"name": "From OpenList v' | cut -d'"' -f4 | cut -d'v' -f2)
          export LATEST_OPENLIST_VERSION=$(curl -k -sL https://api.github.com/repos/OpenListTeam/OpenList/releases/latest | grep '"tag_name": ".*"' | cut -d'"' -f4 | cut -d'v' -f2)
          echo "CURRENT_OPENLIST_VERSION: " ${CURRENT_OPENLIST_VERSION}
          echo "LATEST_OPENLIST_VERSION: " ${LATEST_OPENLIST_VERSION}
          if [ "$LATEST_OPENLIST_VERSION" \> "$CURRENT_OPENLIST_VERSION" ]; then
              echo "OpenList Need to Be Updated!"
              gh workflow run build_and_release.yml -R LeoHaoVIP/AListLiteAndroid
          else
              echo "No Need to Update."
          fi
